/* #about-us-contents #about-us-image__container {
    display: flex;
    justify-content: center;
} */

#site__template-about-us {
    padding-bottom: 75px;
}

#about-us-contents #about-us-image__container img {
    width: 375px !important;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    #about-us-para__container {
        text-align: center !important;
    }
}