#navigation-menu-container {
    display: flex;
    width: 100%;
}

.site__responsive-navigation-menu {
    display: block;
    width: 100%;
}

.site__main-navigation-menu {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.site__main-navigation-menu #site__logo {
    width: 300px !important;
    margin-right: auto;
}

.site__main-navigation-menu a #site__social-logo {
    width: 30px !important;
    filter: invert(1);
    margin-left: 125px;
}

.site__main-navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
    font-size: 20px;
}

.site__main-navigation-menu ul li a span {
    text-transform: uppercase;
    letter-spacing: 0.125em;
}

#site__responsive-line-menu {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #121212;
    border: none;
}

.site__responsive-hb-container {
    display: none;
    background-color: #121212;
    width: 100%;
    height: 75px;
    margin: -25px 0 25px;
}

.site__responsive-hb-container button {
    width: 100px;
    height: 75px;
    margin: auto;
    display: block;
    background: none;
    border: none;
}

.site__responsive-hb-container button img {
    width: 50px !important;
    filter: invert(1);
}

@media screen and (max-width: 340px) {
    .site__main-navigation-menu {
        padding: 0 10px;
    }

    .site__main-navigation-menu #site__logo {
        width: 100% !important;
        margin-right: 0;
    }

    .site__responsive-hb-container {
        display: block;
    }
}

@media screen and (max-width: 495px) {
    .site__main-navigation-menu a {
        display: none;
    }
}

@media screen and (min-width: 341px) and (max-width: 572px) {
    .site__main-navigation-menu {
        padding: 0 25px;
    }

    .site__main-navigation-menu #site__logo {
        width: 250px !important;
    }
}

@media screen and (max-width: 572px) {
    .site__main-navigation-menu a #site__social-logo {
        width: 30px !important;
    }

    #site__responsive-line-menu {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 922px) {
    .site__main-navigation-menu ul {
        display: none;
    }

    #site__responsive-line-menu img {
        width: inherit !important;
        filter: invert(1);
    }

    /* .site__responsive-hb-container {
        display: flex;
    } */
}

@media screen and (min-width: 342px) and (max-width: 922px) {
    #site__responsive-line-menu {
        display: block;
    }

    .site__main-navigation-menu a #site__social-logo {
        margin-left: 50px;
    }
}

@media screen and (min-width: 573px) and (max-width: 922px) {
    .site__main-navigation-menu {
        padding: 0 50px;
    }
}